<%- include("./header.ejs") %>
<div class="container-fluid ab">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding-top: 140px">
            <h1 class="text-center text-white" style="font-size: 1.5cm; margin-top: 4cm; font-family: prague">
                OUR STORY
            </h1>
        </div>
        <div class="col-md-"></div>
    </div>
    <!--row end-->
</div>
<!--container-fluid end-->
<div class="container mb-5">
    <h2 class="text-center bc">
        THE UNIVERSITY OF <b style="color:#ff0000">CALIFORNIA </b>
    </h2>
    <div class="row mt-4" style="margin-bottom: 75px">
        <div class="col-md-7">
            <p class="cd">
                The University of California began more than 150 years ago on a simple but revolutionary idea: that college should be
                available to everyone. That same spirit still guides us today.

                This dashboard explores the voting behavior of UC students in the 2020 federal elections compared to that in 2016, using
                data from the National Study of Learning, Voting, and Engagement.

                Results from undergraduate and graduate surveys on food insecurity and housing needs.

                The dashboard shows employment outcomes by major and discipline of UC undergraduate alumni at two, five and ten years
                after graduation.

                Graduate degree outcomes of UC graduates and the different post-UC earnings trajectories associated with the graduate
                degree completed.

                UC degree recipients go on to work in a wide variety of industries and experience a doubling of salary between 2 and 10
                years after graduation.

                Calls for service to law enforcement agencies generally include calls to “911” for emergency assistance and may also
                include calls to non-emergency numbers. UC Police Departments are required to report monthly data to UCOP on civilian
                calls for service, noting call category (standardized across UC locations), call type (details that can be different by
                location), and month received.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://www.universityofcalifornia.edu/sites/default/files/styles/50_50_feature_block_image/public/2021-11/2018_05_02_UCD_day2-223.jpg?h=f2fcf546&itok=60xYsb--" alt="" class="w-100" />
        </div>
    </div>
    <!--row end-->
</div>
<!--container end-->
<div class="container-fluid mt-3 de">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding-top: 140px">
            <h1 class="text-center text-white aab">2023 ANNUAL REPORT SUSTAINABILITY
            ACTION FOR A FOSSIL-FREE FUTURE</h1>
            <p class="fg">
            This 20th Annual Report on Sustainable Practices highlights the achievements of the University of California’s
            comprehensive sustainability program in 2023. It includes progress in sustainable operations required by UC’s
            Sustainable Practices Policy as well as sustainability achievements in education, research, investments and public
            service.
            </p>
        </div>
    </div>
    <!--row end-->
</div>
<!--container end-->
<div class="container">
    <h1 class="text-center bc" style="margin-top: 80px; margin-bottom: 35px">
        Letter from
        the  <b style="color: #ff0000">President</b>
    </h1>
    <div class="row">
        <div class="col-md-4">
            <img src="https://sustainabilityreport.ucop.edu/2023/wp-content/uploads/sites/5/2023/10/Uc_Overview_Pres.jpg" alt="" class="w-100 mb-3" />
        </div>
        <div class="col-md-8">
            <p class="cd" style="font-weight: 600">
            This is the University of California’s 20th annual sustainability report — an occasion to take stock of our progress, and
            to chart a bold course for our future.
            
            Since the University began tracking its climate impact in 2009, it has cut its carbon emissions by approximately 25%,
            saved $400 million through energy efficiency programs and installed more than 100 on-campus solar projects. This year,
            the University also signed its first wind power contract, our largest renewable energy commitment to date. We also
            signed an agreement to add utility-scale batteries to our next Southern California solar project. By 2025, all 10 UC
            campuses and six academic health centers will use 100 percent clean electricity. Remarkable achievements like these have
            made the University an acknowledged global leader in sustainable practices. We have much to be proud of.

            This kind of transformative change doesn’t happen spontaneously. The University is a more sustainable institution today
            because of the ambitious goals it set in the past, and because our community came together to make this work a priority.
            Now, as we grapple with a growing climate crisis, we’re raising the bar once again. 
            </p>
        </div>
    </div>
    <!--row end-->
</div>
<!--container end-->
<div class="container mt-5" style="margin-bottom: 20px;">
    <h2 class="text-center bc">
        Policy  &nbsp;&nbsp;<b style="color: #ff0000">Areas</b>
    </h2>
    <div class="row mt-4">
        <div class="col-md-7">
            <p class="cd">
            The University of California’s formal sustainability commitments began in 2003 with a Regental action that led to the
            adoption of the Presidential Policy on Green Building Design and Clean Energy Standards in 2004. Since then, UC has
            expanded the scope of the Sustainable Practices Policy to include climate, transportation, building operations, waste,
            procurement, food, water, health and well-being, UC Health and sustainability performance, as well as anti-racism,
            diversity, equity and inclusion.

            </p>
            
        </div>
        <div class="col-md-5 mt-3 text-center">
            <img src="https://sustainabilityreport.ucop.edu/2023/wp-content/uploads/sites/5/2023/08/Uc_Overview_PolicyAreas.jpg" alt="" class="image" />
        </div>
    </div>
    <!--row end-->
</div>
<!--container end-->
<%- include("./footer.ejs") %>