<%- include("./header.ejs") %>
<!--container end-->
<div class="container">
    <h1 class="text-center bc" style="margin-top: 80px; margin-bottom: 35px">
    Contact<b style="color: #ff0000">Us</b>
    </h1>
    <div class="row">
        <div class="col-md-4">
            <img src="https://media.istockphoto.com/id/1573788563/photo/callcenter-consultant-woman-and-contact-us-happy-with-phone-call-communication-and-crm-female.webp?b=1&s=170667a&w=0&k=20&c=9CAFplaioQcQ0YJcni4xjufGPBB1tJUkFq9wSu7qUxc="
                alt="" class="w-100 mb-3" style="height: 430px;" />
        </div>
        <div class="col-md-8">
           <ul style="color: #ff0000"> Email <br>
           <a href="">ucinfo@applyucsupport.net</a>
           </ul>
           <ul>Telephone
            <li>(800) 207-1710 (within the U.S.) </li>
            <li>(925) 298-6856 (outside the U.S.)</li>            
           </ul>
           <ul>Hours
            <li>Monday-Friday: 10 a.m. - 6 p.m. PST
            Saturday & Sunday: Closed</li>
           </ul>
           <ul>Seasonal Hours
            <li>November & December:</li>
            
           <li> Nov. 1-17: Monday-Friday 8 a.m. - 6 p.m. PST</li>
        <li> Nov. 20-22: 8 a.m. - 10 p.m. PST</li>
        <li> Nov. 24-26: 8 a.m. - 10 p.m. PST</li>
        <li> Nov. 27-28: 8 a.m. - 11 p.m. PST</li>
        <li> Nov. 29-30: 7 a.m. - midnight</li>
        <li> Dec. 1: 8 a.m. - 6 p.m. PST</li>
            
            Closed on the following holidays:
            Nov. 23, Dec. 25 & Jan. 1
           </ul>
        </div>
    </div>
    <!--row end-->
</div>
<!--container end-->
<%- include("./footer.ejs") %>